PORT=3000
DB_HOST=ep-noisy-grass-ay57gz11-pooler.c-5.us-east-2.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=npg_cVoNt75JsihP
DB_NAME=neondb
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecretkey
URL=postgresql://neondb_owner:npg_cVoNt75JsihP@ep-noisy-grass-ay57gz11-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
REDIS_URL="rediss://default:gQAAAAAAAWWrAAIgcDJmZmIwNTQ2OTdjYWM0MmIwOTZjYWM3OGQ4NmRiN2VmNA@present-robin-91563.upstash.io:6379"